.form {
  padding-top: 42px;
  /* padding-bottom: 30px; */
}

.form__background {
  background-image:
    linear-gradient(to top, rgba(47, 50, 75, 0.85), rgba(47, 50, 75, 0.85)),
    url(../img/s2-men.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form__title {
  margin-bottom: 17px;
  padding-top: 71px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: var(--color-text-0);
}

.form__text1 {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--color-text-11);
}

.form__wrap {
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  padding-left: 25px;
  width: 423px;
  height: 44px;
  border: 1.38235px solid var(--color-text-0);
  border-radius: 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-text-12);
  background-color: transparent;
  outline: none;
}

.form__input:not(:last-of-type) {
  margin-bottom: 21px;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-text-12);
}

.form__button {
  margin-top: 51px;
  padding: 11px 38px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  border: 0;
  border-radius: 50px;
  color: var(--color-text-0);
  background-color: var(--color-background-2);
  box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
}

.form__text2 {
  padding-bottom: 70px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--color-text-0);
}

.form__link {
  color: var(--color-text-3);
}

@media (max-width: 1199px) {

  .form__title {
    margin-bottom: 17px;
    padding-top: 71px;
    font-size: 32px;
    line-height: 38px;
  }

  .form__text1 {
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 23px;
  }

  .form__wrap {
    margin-bottom: 31px;
  }

  .form__input {
    padding-left: 23px;
    width: 377px;
    height: 42px;
    font-size: 20px;
    line-height: 23px;
  }

  .form__input:not(:last-of-type) {
    margin-bottom: 17px;
  }

  .form__input::placeholder {
    font-size: 20px;
    line-height: 23px;
  }

  .form__button {
    margin-top: 50px;
  }

  .form__text2 {
    padding-bottom: 56px;
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .form {
    padding-top: 53px;
    /* padding-bottom: 30px; */
  }

  .form__title {
    margin-bottom: 12px;
    padding-top: 31px;
    font-size: 20px;
    line-height: 23px;
  }

  .form__text1 {
    margin-bottom: 36px;
    font-size: 12px;
    line-height: 14px;
  }

  .form__wrap {
    margin-bottom: 29px;
  }

  .form__input {
    padding-left: 16px;
    max-width: 300px;
    height: 28px;
    border: 1px solid var(--color-text-0);
    border-radius: 50px;
    font-size: 14px;
    line-height: 16px;
  }

  .form__input:not(:last-of-type) {
    margin-bottom: 15px;
  }

  .form__input::placeholder {
    font-size: 14px;
    line-height: 16px;
  }

  .form__button {
    margin-top: 45px;

    padding: 10px 29px;
    font-size: 16px;
    line-height: 19px;
  }

  .form__text2 {
    padding-bottom: 28px;
    font-size: 11px;
    line-height: 13px;
  }
}